.expertise-row
{
  width: 80%;
  margin: 10%;
  margin-top: 1% !important;
  margin-bottom: 4% !important;
  display: flex;
}
.all-parts
{
  display: flex;
  width: 550px;
  position: relative;
  margin-right: 130px;
}
.percentage
{
  position: absolute;
  left: 420px;
}
.total
{
  background-color: black;
  width: 450px;
  height: 10px;
  position: absolute;
  bottom:0;
}
.achieved
{
  background-color: dimgray;
  z-index: -1;
  height:inherit;
  width:90%;
}