.App {
  text-align: center;
  display: flex;
  flex-direction:row;
  width:100%;
}
.mid
{
  width:70%;
  margin-left: 10%;
}

.pro_pic_holder
{
  height:100vh;
  overflow: hidden;
}

.blurred_pro_pic
{
  filter: blur(4px);
}
.welcome_text
{
  color:white;
  position: absolute;
  top: 200px;
  left: 300px;
  font-size: 60px;
}