.outer-holder
{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  padding-bottom: 2%;
  text-align: left !important;
}
.box
{
  border: 1px solid black;
  background-color: dimgray;
  border-radius: 10px;
  width: 400px;
  margin-bottom: 15px;
}
.box p
{
  margin-left: 10px;
}
.year
{
  margin-top: 5px;
  font-size: 15px;
}
.title
{
  font-size: 20px;
}
.education
{
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.experience
{
  display:flex;
  flex-direction: column;
}
h2
{
  text-align: center;
}