.logo_holder
{
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
  position:sticky;
  right:0;
}
.logo
{
  width: 100%;
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 75px;
}
.logo_text
{
  width: 100%;
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 75px;
  text-decoration: none !important;
  color: black !important;
}