.box
{
  border: 1px solid black;
  background-color: dimgray;
  border-radius: 10px;
  width: inherit;
  margin-bottom: 15px;
}
.box p 
{
  margin-left: 10px;
}
.box a
{
  margin-left: 10px;
  color: blue !important;
  text-decoration: none;
  font-weight: bold;
}
.line
{
  display: flex;
  flex-direction: row;
}

.outer-holder
{
  display: flex;
  flex-direction:column;
}

.legend
{
  width: 500px;
  background-color:dimgray;
  height: 30px;
  margin-left: 20%;
  margin-bottom: 5%;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
}

.legend-circle
{
  width: 20px;
  height: 20px;
  border-radius:10px;
  margin-top: 5px;
}

.react
{
  background-color:green;
}
.react-native
{
  background-color:red;
}
.python
{
  background-color:maroon;
}
.singular-leged
{
  display: flex;
  flex-direction: row;
}